@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-color: #AC2A42;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
   
}

.container {
    display: flex;
    background-color: #F8F6F3;
    border-radius: 22px;
    width: 70%; 
    height: 80%; 
}

.img {
    background-color: #5A1F2A;
    border-radius: 22px;
    height: 100%;
    width: 40%;
}

.content {
    flex: 1; 
    text-align: center;
    padding: 90px;
    

}

label {
    font-size: 65px;
}

input {
    background-color: #ac2a4211;
    font-size: 18px;
    padding-block: 21px; 
    padding-left: 20px;
    padding-right: 175px;
    border: none; 
    outline: none; 
    font-family: inherit; 
}

.submit {
    background-color: #ac2a42;
    padding-block: 48pxpx; 
    padding-inline: 55px;
    font-size: 23px;
    color: #F8F6F3;
}

.agree {
    font-size: 18px; 
    color: #232020;
    text-decoration: none;
    display: flex;
    justify-content:center;
}
.nome, .sobrenome {
    display: inline-block; 
    width: calc(50% - 10px); 
    width: 20%;
    padding-inline: 92px;

}
.nome{
    display: inline-block; 
margin-inline: 10px;
}
.sobrenome{
    display: inline-block; 
margin-inline: 10px;
}


